<form class='mt-4' method='POST' action='/courses/handle-form-actions'>
    <div>
        <h3>My Courses</h3>
        <a href='/me/trash/courses'>Thùng rác ({{num}})</a>

        <div class='mt-4 d-flex align-items-center'>
            <div class='form-check'>
                <input type='checkbox' class='form-check-input' value='' id='check-all' />
                <label class='form-check-label' for='check-all'>Sellect all</label>
            </div>

            <select class='custom-select course-select-options' name='action' required>
                <option selected value=''>-- Action --</option>
                <option value='delete'>Delete</option>
            </select>

            <button class='btn btn-primary check-all-submit-btn' disabled>Submit</button>
        </div>
    </div>

    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>#</th>
                <th scope='col' width='30%'>Name</th>
                <th scope='col'>Level</th>
                <th scope='col'>Created At</th>
                <th scope='col'>Updated At</th>
                <th scope='col'>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th>
                        <div class='form-check'>
                            <input type='checkbox' class='form-check-input' name='courseItems[]' value='{{this._id}}' />
                        </div>
                    </th>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{formatDate this.createdAt}}</td>
                    <td>{{formatDate this.updatedAt}}</td>
                    <td>
                        <a href='/courses/edit/{{this._id}}' class='btn btn-link'>Edit</a>
                        <a
                            href='/courses/delete/{{this._id}}'
                            class='btn btn-link'
                            data-toggle='modal'
                            data-target='#delete-modal'
                            data-id='{{this._id}}'
                        >Delete</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='5' class='text-center'>
                        Bạn chưa đăng khóa học nào cả.
                        <a href='/courses/create'>Đăng khóa học</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! Confirm delete course }}
<div class='modal' id='delete-modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Delete Course</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Are you sure to delete this course?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' id='delete-btn' class='btn btn-danger'>Delete</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
            </div>
        </div>
    </div>
</div>

{{! delete hidden form }}
<form name='delete-form' method='POST'></form>

{{! prettier-ignore }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let courseId;
        const deleteForm = document.forms['delete-form'];
        const btnDeleteCourse = document.getElementById('delete-btn');
        const checkAll = $('#check-all');
        const checkCourse = $('input[name="courseItems[]"]');
        const checkAllSubmitBtn = $('.check-all-submit-btn');

        // Get course ID
        $('#delete-modal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        // Delete course by ID
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        };

        // Check all changed
        checkAll.change(function () {
            const isCheckAll = $(this).prop('checked');
            checkCourse.prop('checked', isCheckAll);
            renderCheckAllSubmitBtn()
        });

        // Check course changed
        checkCourse.change(function () {
            const isCheckAll = checkCourse.length === $('input[name="courseItems[]"]:checked').length;
            checkAll.prop('checked', isCheckAll);     
            renderCheckAllSubmitBtn()
        });

        // Re-render check all submit button
        function renderCheckAllSubmitBtn() { 
            const checkCount = $('input[name="courseItems[]"]:checked').length;
            if (checkCount) {
                checkAllSubmitBtn.attr('disabled', false);
            } else { checkAllSubmitBtn.atte('disabled', true); }
        }; 

    })
</script>